[Unit]
Description=Fleact App API Backend
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/usr/src/fleact-api
Environment="ENV=production"
Environment="APP_URL=127.0.0.1"
Environment="API_PORT=5000"
Environment="SECRET_KEY=e56107a4218aa4de97770a49faa71f7b"
ExecStart=gunicorn -b ${APP_URL}:${API_PORT} Fleact:app
Restart=always

[Install]
WantedBy=multi-user.target
