.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #222222;
  overflow: auto;
}

.header-container {
  flex: 0 1 auto;
  background-color: #161616;
  padding: 10px 1.5rem 20px 1.5rem;
  box-shadow: 0 1px 0px #303030;
}

.content-container {
  flex: 1 1 auto;
  flex-grow: 1;
  padding: 2rem;
  color: #dddddd;
}

.footer-container {
  flex: 0 1 40px;
  /* flex-direction: column; */
  background-color: #161616;
  padding: 5px 1.5rem 5px 1.5rem;
  box-shadow: 0 -1px 0 #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mtop-1 {
  margin-top: 1rem;
}

.mtop-2 {
  margin-top: 2rem;
}

.app-title {
  font-weight: bold;
  font-size: 30px;
  color: #dddddd;
  margin: 0 0 12px 0;
  text-align: center;
}

.app-subtitle {
  font-weight: bold;
  font-size: 18px;
  color: #dddddd;
  margin: 0;
  text-align: center;
}

.app-footer {
  color: #dddddd;
  margin: 0;
  text-align: center;
}

.github-link {
  display: block;
  background-image: url("/static/github-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 1rem;
  flex-shrink: 0;
}

.github-link:hover {
  filter: opacity(70%);
}

.text-link .text-link:link, .text-link:visited {
  text-decoration: none;
  color: #dddddd;
}

.text-link:hover {
  color: #777777;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.pancake-expand-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pancake-expand-container .pancake-child {
  flex: 1 1 150px;
  margin: 5px;
}

.pancake-expand-container .pancake-child {
  flex: 0 1 150px;
  margin: 5px;
}

.sidebar-container {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

.pancake-stack-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.hg-container {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.hg-container .hg-header {
  padding: 2rem;
  grid-column: 1 / 4;
}

.hg-container .hg-left-panel {
  grid-column: 1 / 2;
}

.hg-container .hg-main-panel {
  grid-column: 2 / 3;
}

.hg-container .hg-right-panel {
  grid-column: 3 / 4;
}

.hg-container .hg-footer {
  grid-column: 1 / 4;
}

.span-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.span-grid-container .span-grid-full {
  grid-column: 1 / 13;
}

.span-grid-container .span-grid-left-6 {
  grid-column: 1 / 7;
}

.span-grid-container .span-grid-mid-6 {
  grid-column: 3 / 10;
}

.span-grid-container .span-grid-right-6 {
  grid-column: 6 / 13;
}

.span-grid-container .span-grid-left-4 {
  grid-column: 1 / 5;
}

.span-grid-container .span-grid-right-4 {
  grid-column: 5 / 9;
}

.span-grid-container .span-grid-mid-4 {
  grid-column: 9 / 13;
}

.span-grid-container .span-grid-left-3 {
  grid-column: 1 / 4;
}

.span-grid-container .span-grid-mid-left-3 {
  grid-column: 2 / 5;
}

.span-grid-container .span-grid-mid-right-3 {
  grid-column: 9 / 12;
}

.span-grid-container .span-grid-right-3 {
  grid-column: 10 / 13;
}

.span-grid-container .span-grid-left-left-2 {
  grid-column: 1 / 3;
}

.span-grid-container .span-grid-right-left-2 {
  grid-column: 3 / 5;
}

.span-grid-container .span-grid-left-mid-2 {
  grid-column: 5 / 7;
}

.span-grid-container .span-grid-right-mid-2 {
  grid-column: 7 / 9;
}

.span-grid-container .span-grid-left-right-2 {
  grid-column: 9 / 11;
}

.span-grid-container .span-grid-right-right-2 {
  grid-column: 11 / 13;
}

.repeat-grid-fit-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.repeat-grid-fill-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.span-cards-container {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.span-cards-container .card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

.span-cards-container .title {
  margin: 0;
}

.visual-sm {
  height: 100px;
  width: 100%;
}

.visual-md {
  height: 200px;
  width: 100%;
}

.visual-lg {
  height: 300px;
  width: 100%;
}

.clamp-card-container {
  width: clamp(23ch, 50%, 46ch);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
